body{
margin:0;
font-family:Arial;
background:#0f0f0f;
color:white;
}

header{
display:flex;
justify-content:space-between;
padding:15px 40px;
background:#111;
}

nav ul{
display:flex;
list-style:none;
gap:20px;
}

nav ul li a{
text-decoration:none;
color:white;
}

nav ul li a.active{
color:orange;
}

.hero{
display:flex;
justify-content:space-around;
align-items:center;
padding:60px 20px;
}

.hero span{
color:orange;
}

.hero img{
width:250px;
border-radius:10px;
}

.page{
padding:50px;
text-align:center;
}

.service-box{
margin:20px;
padding:20px;
background:#1a1a1a;
border-radius:8px;
}

button{
padding:10px 20px;
background:orange;
border:none;
color:white;
cursor:pointer;
}

footer{
text-align:center;
padding:15px;
background:black;
margin-top:40px;
}